{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "presets": [
    ["env", {
      "modules": false
    }]
  ]
}