{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "presets": [
    ["env", {
      "modules": false,
      "debug": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "ie <= 8"]
      }
    }],
  ]
}